* {
    box-sizing: border-box;
}

.meals, .meal-details, .new-meal{
  padding: 20px;
  background-color: #d0d82f;
  text-align: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.meal-details{
  display: flex;
  justify-content: center;
  align-items: center;
}

.meal-details section{
  width: 55%;
}

.search-bar{
  background-color: beige;
  border-radius: 15px;
  margin-bottom: 50px;
  width: 40%;
}

.search-bar:focus {
  background-color: rgb(198, 224, 233);
}

.render-meals{ 
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.render-meals li{
  margin-bottom: 40px;
  border: 1px solid #08945A;
}

.meal-title{
  font-weight: bolder;
  font-size: 1.2em;
}

.important-message{
  color: red;
}

.star-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

input,textarea,select{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: large;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  width: 71%;
  display: inline-block;
}

